.navbar-fixed
  %nav.blue
    .nav-wrapper
      = link_to "Mini Blog", root_path, class: "brand-logo"
      %ul#nav-mobile.right.hide-on-med-and-down
        - if user_signed_in?
          %li
            = link_to "SignOut", "/users/sign_out", method: :delete
          %li
            = link_to "NewPost", "/messages/new"
        - else
          %li
            = link_to "SignUp", "/users/sign_up"
          %li
            = link_to "LogIn", "/users/sign_in"
